# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/spark/node_modules/
/spark/.pnp
/spark/.pnp.js


# next.js
/spark/.next/
/spark/out/

# production
/build

# misc
/spark/.DS_Store
/spark/*.pem

# debug
/spark/npm-debug.log*
/spark/yarn-debug.log*
/spark/yarn-error.log*

# local env files
/spark/.env*.local

# vercel
/spark/.vercel

# typescript
/spark/*.tsbuildinfo
/spark/next-env.d.ts
